<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <script>var anchor = window.location.hash.substr(1); location.href = "{{ cookiecutter.repository_url_pages }}"</script>
</head>

<body>

    <p>Redirection to the online documentation...</p>

</body>

</html>
